<h2>Registrar</h2>
<form action="/Cargar" method="post">
<label for="nombre">Nombre</label>
<input type="text" id="nombre" required name="username">
<label for="clabe">Contraseña</label>
<input type="password" id="clabe" required name="password">
<input type="submit" value="guardar">
</form>