<!DOCTYPE html>
<html>
  <head>
    <title>miChat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Inicio</a>
      <a href="/cargar">Registrarse</a>
      <a href="/chat">Acceder al chat</a>
    </nav>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
