<h2>Acceder</h2>
<form action="/login", method="post">
<label for="name">Nombre</label>
<input type="text" id="name" required name="username">
<label for="clabe">Contraseña</label>
<input type="password" id="clabe" required name="password">
<input type="submit" value="acceder">
</form>